<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Купите бытовую технику в Бишкеке с доставкой на дом. В нашем интернет-магазине вы найдете широкий выбор холодильников, кондиционеров, стиральных машин, кухонных плит и телевизоров по выгодным ценам.">
	<meta name="keywords" content="бытовая техника, холодильники, кондиционеры, стиральные машины, кухонные плиты, телевизоры, Бишкек, доставка">
	<!-- <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" /> -->

	<title>Tecnotochka</title>

</head>
body
	include src/pages/header
	include src/pages/components/main-for-card
	include src/pages/footer
	<script type="module" src="./card.js"></script>