section
	.container
		.bg-exclusive
			.row.gy-4
				.col-12.col-lg-6.order-1
					p.cg.fw-semibold Товары
					h2 Эксклюзивные товары на Technotochka успей приобрести
					.row.my-4.gx-2.gx-sm-4.gy-2
						.col-auto
							.clock 
								.counter.days 23
								.desc дней
						.col-auto
							.clock 
								.counter.hours 23
								.desc Часов
						.col-auto
							.clock 
								.counter.min 23
								.desc Минут
						.col-auto
							.clock 
								.counter.sec 23
								.desc Секунд
					a(href="#").btn.btn-lg.btn-danger Купить Сейчас
				.col.col-lg-6.order-0.order-lg-2
					.w-100
						img(src="../img/exclusive.webp", alt="exclusive goods")