section.py-5
	.container
		+note1('Товары на сегодня')
		h2.mt-5.mb-5 Новое поступление
		.row.gy-4
			.col-12.col-lg-6
				.main-block.d-flex.flex-column.h-100.border
					.text-center.h-100
						img.text-center.flex-fill(src="../img/opend-refrigerator.png", alt="Холодильник Haier HRF-535DM7RU")
					h3.my-3.desc-title.cw Холодильник Haier HRF-535DM7RU
					a(href="#").cw Купить Сейчас
			.col-12.col-lg-6
				.d-flex.flex-column.h-100
					.bgcb.px-4.w-100.py-5.mb-4.flex1
						.d-flex.flex-column.flex-sm-row.align-items-center
							.order-1 
								h3.my-3.desc-title.cw LED телевизор Haier 32 S1
								a(href="#").cw Купить Сейчас
							.order-0.order-sm-2
								img(src="../img/LCD2.png", alt="LED телевизор Haier 32 S1")
					.row.gx-4.gx-md-2.gx-xl-3.gy-4.flex1
						.col-12.col-sm-6
							.secondary-block
								.img-place.text-center
									img.text-center(src="../img/conditioner.png", alt="LED телевизор Haier 32 S1")
								div
									h3.my-3.desc-title.cw Speakers
									a(href="#").cw Купить Сейчас
						.col-12.col-sm-6
							.secondary-block
								.img-place.text-center
									img.text-center(src="../img/wash-machine.png", alt="LED телевизор Haier 32 S1")
								div
									h3.my-3.desc-title.cw Perfume
									a(href="#").cw Купить Сейчас
