section#services
	.container
		.row.justify-content-center
			.col-12.col-md-3
				.d-flex.flex-column.align-items-center.justify-content-center.gap-2
					.icon-block
						.icon-nested-block
							object(type="image/svg+xml" data='../img/icon-delivery.svg')
					h5.text-center.ttu БЫСТРАЯ ДОСТАВКА
					p Бесплатная доставка для всех заказов на сумму более 5000 сом
			.col-12.col-md-3
				.d-flex.flex-column.align-items-center.justify-content-center.gap-2
					.icon-block
						.icon-nested-block
							object(type="image/svg+xml" data='../img/icon-сustomer-service.svg')
					h5.text-center.ttu Техническое обслуживание
					p Дружелюбная круглосуточная поддержка клиентов
			.col-12.col-md-3
				.d-flex.flex-column.align-items-center.justify-content-center.gap-2
					.icon-block
						.icon-nested-block
							object(type="image/svg+xml" data='../img/garanty.svg')
					h5.text-center.ttu ГАРАНТИЯ на технику
					p Возвращаем деньги в течение 30 дней