.swiper.swiper1
    .swiper-wrapper( pagination="true")
        .swiper-slide
            img(src="../img/bg-1.webp", alt="")
        .swiper-slide
            img(src="../img/bg-2.webp", alt="")
        .swiper-slide
            img(src="../img/bg-3.webp", alt="")
        .swiper-slide
            img(src="../img/bg-4.webp", alt="")
        .swiper-slide
            img(src="../img/bg-5.webp", alt="")
        .swiper-slide
            img(src="../img/bg-1.webp", alt="")
        .swiper-slide
            img(src="../img/bg-2.webp", alt="")
    .swiper-pagination