footer.footer
	.container
		.row 
			.col-12.col-sm-6.col-md-3
				.logo-name Technotochka
				p.mt-3 Технологии для вашего дома, дарящие удовольствие и комфорт
			.col-12.col-sm-6.col-md-3
				p О нас
				p.mt-3 Контакты
			.col-12.col-sm-6.col-md-3
				p Условия возврата и обмена
				p.mt-3 Как сделать заказ
			.col-12.col-sm-6.col-md-3
				p.fs-3.cw +996777654321
				p.mt-3 Торговый Центр "Табылга" бутик А31