main.pt-4
    .container 
        .row.gy-4
            .col-12.col-xl-4.order-1
                .left-sidebar
                    ul 
                        li 
                            a(href="src/filter.html") Кондиционеры
                        li 
                            a(href="#") Кухонные плиты
                        li 
                            a(href="#") Телевизоры
                        li 
                            a(href="#") Холодильники
                        li 
                            a(href="#") Посудомойки
                        li 
                            a(href="#") Стиральные машины
            .col-12.col-xl-8.order-0.order-xl-2
                include components/swiper1
    include components/recomended
    include components/category
    include components/searched
    include components/exclusive
    include components/new-goods
    include components/services