main.pt-4
    .container 
        .row 
            .col-4
                .left-sidebar
                    ul 
                        li 
                            a(href="#") Кондиционеры
                        li 
                            a(href="#") Кухонные плиты
                        li 
                            a(href="#") Телевизоры
                        li 
                            a(href="#") Холодильники
                        li 
                            a(href="#") Посудомойки
                        li 
                            a(href="#") Стиральные машины
            .col
                include components/swiper1
    include components/recomended
    include components/category
    include components/searched
    include components/exclusive
    include components/new-goods
    include components/services