// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
// @import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

body{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}
section{
	padding-top: 63px;
	padding-bottom: 63px;
	@media screen and (max-width:768px) {
		padding-top: 31px;
		padding-bottom: 31px;
	}
}
ul{
	margin: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
	li {
	list-style-type: none !important; /* Убираем маркеры */
	}
}
a{
	text-decoration: none;
}
h1,h2,h3{
	padding: 0;
	margin: 0;
}
* {
	margin: 0;
	padding: 0;
}
header a{
	padding-bottom: 4px;
	border-bottom: none;
	border-color: #ccc;
	color: #000;
	&:hover{
		border-bottom: 1px solid #ccc;
		transition: 0.5s ease-in-out;
	}
}
.logo-name{
	color: #DB4444;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.72px;
}
img{
	max-width: 100%;
}
.left-sidebar{
	border-radius: 16px;
	border: 1px solid rgb(80, 163, 80);
	border-left: 3px solid rgb(80, 163, 80);
	ul{
		display: flex;
		flex-direction: column;
		li{
			padding: 19.5px 24px;
			&:hover{
				background-color: #DB4444;
				transform: translateX(5px);
				transition: all 0.2s ease-in-out;
				a{
					color: #ffffff;
				}
			}
			a{
				color: #000;
				font-family: 'Poppins', sans-serif;
				font-size: 14px;
				font-style: normal;
				font-weight: 250;
				line-height: 150%;
			}
		}
	}
}
.card1{
	display: flex;
	flex-direction: column;
	position: relative;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 8px;
	font-weight: 600 !important;
	border: none !important;
	height: 100%;
	.img-place{
		position: relative;
		flex: 1;
		padding: 36px 0 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #F5F5F5;
		margin-bottom: 16px;
		border-radius: 4px;
		.watch{
			display: none;
		}
		&:hover{
			.watch{
				display: block;
				position: absolute;
				bottom: 0;
				width: 100%;
				background-color: #000;
				text-align: center;
				color: #ffffff;
				padding: 8px;
			}
		}
	}

	.card-title{
		color: #000;
		font-size: 16px;
	}
	.price{
		display: flex;
		gap: 12px;
		.card-main-price{
			color: #DB4444;
		}
		.card-sec-price{
			color:  #000;
			opacity: 0.5;
		}
	}
	.discount{
		position: absolute;
		left: 12px;
		top: 12px;
		padding: 4px 12px;
		background-color: #DB4444;
		border-radius: 4px;
		font-size: 12px;
	}
}
.category-card{
	width: 168px;
	height: 144px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	object{
	}
	
	svg{
		width: 400px;
		path{
			fill:yellow !important
		}
	
	}
}
.category-card.active{
	background-color: #DB4444;
	p{
		color: #ffffff;
	}
}
.bg-exclusive{
	// background-color: #000;
	background: rgb(255,255,255);
	background: radial-gradient(circle at 72% center, rgb(217, 217, 217) -87%, rgb(0, 0, 0) 46%);
	padding: 54px;
	h2{
		font-size: 36px;
		color: #fff;
		font-weight: 700;
		line-height: 46px;
	}
	@media screen and (max-width:768px) {
		padding: 27px;
		h2{
			font-size: 24px;
		}
	}
}
.clock{
	width: 62px;
	height: 62px;
	padding: 14px;
	border-radius: 50%;
	background-color: #fff;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	.counter{
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 20px; 
	}
	.desc{
		font-size: 11px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px; 
	}
	@media screen and (max-width:576px) {
		width: 54px;
		height: 54px;
	}
}
.desc-title{
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px; /* 100% */
	letter-spacing: 0.72px;
}
//New Goods

.main-block{
	background-color: #000;
	padding: 32px;
	border-radius:  4px;
}

.secondary-block{
	background-color: #000;
	border-radius: 4px;
	padding: 20px 12px 24px 24px;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	.img-place{
		height: 100%;
		flex: 1;
	}
	@media screen and (min-width:992px) {
		padding-left: 12px;
	}
	@media screen and (min-width:1200px) {
		padding-left: 24px;
	}
}
//sERVICES
.icon-block{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #dba3a3;

}
.icon-nested-block{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #000;
}
#services {
	h5{
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 28px;
	}
	p{
		text-align: center;
	}
}
//FOTER
.footer{
	background-color: #000;
	padding-top: 64px;
	padding-bottom: 64px;
	p{
		color: #9BA4B1;
	}
}
.left-bdr{
	height: 40px;
	width: 12px;
	border-radius: 4px;
	background-color:#DB4444;
}
.secT1{
	color:  #DB4444;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px; /* 125% */
}

.btn-search{
	position: absolute;
	top: 5px;
	right: 0;
}
// UTILITIES
.gap48{
	gap:48px;
}
.btn{
	color: #ffffff !important;
}
.bgc-r{
	background-color: #DB4444;
}
.mx-54{
	margin-top: 54px;
	margin-bottom: 54px;
}
.cg{
	color: #0F6 !important;
}
.cb{
	color: #000 !important;
}
.cw{
	color: #fff !important;
}
.bgcb{
	background-color: #000;
}
.flex1{
	flex: 1 0 auto;
}
.ttu{
	text-transform: uppercase;
}
